<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<model>
			<elements>
				<element patch:after="*[@interface='Sitecore.Analytics.Model.Entities.IBehaviorProfileValue, Sitecore.Analytics.Model']" interface="Site.Foundation.Analytics.Model.IGoogleClientIdentifier, Site.Foundation.Analytics" implementation="Site.Foundation.Analytics.Model.GoogleClientIdentifier, Site.Foundation.Analytics" />
			</elements>
			<entities>
				<contact>
					<facets>
						<facet patch:after="*[@name='Preferences']" name="Cid" contract="Site.Foundation.Analytics.Model.IGoogleClientIdentifier, Site.Foundation.Analytics" />
					</facets>
				</contact>
			</entities>
		</model>
	</sitecore>
</configuration>
