<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<pipelines>
			<group groupName="FXM" name="FXM">
				<pipelines>
					<tracking.registerpageevent>
						<!-- Performs the registration of a page event in the DMS. -->
						<processor type="Site.Foundation.Analytics.Processor.RegisterPageEventProcessor, Site.Foundation.Analytics" patch:instead="processor[@type='Sitecore.FXM.Pipelines.Tracking.RegisterPageEvent.RegisterPageEventProcessor, Sitecore.FXM']"/>
					</tracking.registerpageevent>
					<tracking.triggerpageevent>
						<!-- Performs the registration of a page event in the DMS. -->
						<processor type="Site.Foundation.Analytics.Processor.SiteRunRegisterPageEventProcessor, Site.Foundation.Analytics" patch:instead="processor[@type='Sitecore.FXM.Pipelines.Tracking.TriggerPageEvent.RunRegisterPageEventProcessor, Sitecore.FXM']"/>
					</tracking.triggerpageevent>
				</pipelines>
			</group>
		</pipelines>
	</sitecore>
</configuration>
