/.vs
/packages
/src/Foundation/Analytics/code/bin
/src/Foundation/Analytics/code/obj
/src/Foundation/Cache/code/bin
/src/Foundation/Cache/code/obj
/src/Foundation/Cache/code/Site.Foundation.Cache.csproj.user
