<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.StartTracking, Sitecore.Analytics']" type="Site.Foundation.Analytics.Pipeline.InstantProfilingPipeline, Site.Foundation.Analytics" />
      </startAnalytics>
    </pipelines>
  </sitecore>
</configuration>
