<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"  xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement">
    <unicorn>
      <configurations>
		
        <configuration name="Foundation.Analytics.Always" description="Foundation Analytics always sync" dependencies="Foundation.Serialization.*" extends="Site.Base.Always">
			<predicate>
				<include name="Foundation.Analytics.Goal.Rule" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Visit/Goal was triggered during a past or current interaction" />
			</predicate>
		</configuration>

      </configurations>
    </unicorn>
  </sitecore>
</configuration>
