<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <!-- Note this should be changed for other environments.  Development settings only -->
			<setting role:require="Standalone" name="Site.Common.Website.CookieDomains" value="'abc.dev.local', 'def.dev.local', 'hij.dev.local'" />
	        <setting role:require="Standalone" name="Site.Common.Website.MainDomain" value="abc.dev.local" />
        </settings>
    </sitecore>
</configuration>
